/*
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
*/

/*
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
*/

.loader {
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    border-top-color: #000000;
    box-sizing: border-box;
    content: '';
    height: 60px;
    left: 44%;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 60px;
}

.loader2 {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border: 3px solid #d8d8d8;
    border-radius: 50%;
    border-top-color: #2C2C2C;
    box-sizing: border-box;
    content: '';
    height: 60px;
    left: 44%;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 38%;
    width: 60px;
}

/*
.loader {
    border: 16px solid #9B9B9B;
    border-top: 16px solid #2C2C2C;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}
*/

@-webkit-keyframes spin {

    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {

    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

/*
.circular {
    animation: rotate 3.5s infinite;

    height: 50px;
    transform-origin: center center;
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color:
}

.donut-segment {
    fill: transparent;
    stroke: #4A4A4A;
    stroke-width: 3;
    stroke-dasharray: 20 80;
    stroke-dashoffset: 0;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
*/

.donut {
    width: 42px;
    height: 42px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    left: 44%;
    top: 20%;

}


.donutOutline {
    width: 42px;
    height: 42px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    left: 44%;
    top: 20%;

}


.donut-segment1 {
    fill: transparent;
    stroke: #000;
    stroke-width: 2;
    stroke-dasharray: 20 80;
    stroke-dashoffset: 0;

}







/*
.donut-segment2 {
    fill: transparent;
    opacity: 0;
    stroke: #4A4A4A;
    stroke-width: 3;
    stroke-dasharray: 20 80;
    stroke-dashoffset: 20;
    animation: hide 2s linear 0.4s infinite;
    -webkit-animation: hide 2s linear 0.4s infinite;
}

.donut-segment3 {
    fill: transparent;
    opacity: 0;
    stroke: #4A4A4A;
    stroke-width: 3;
    stroke-dasharray: 20 80;
    stroke-dashoffset: 40;
    animation: hide 2s linear 0.8s infinite;
    -webkit-animation: hide 2s linear 0.8s infinite;
}

.donut-segment4 {
    fill: transparent;
    opacity: 0;
    stroke: #4A4A4A;
    stroke-width: 3;
    stroke-dasharray: 20 80;
    stroke-dashoffset: 60;
    animation: hide 2s linear 1.2s infinite;
    -webkit-animation: hide 2s linear 1.2s infinite;
}

.donut-segment5 {
    fill: transparent;
    opacity: 0;
    stroke: #4A4A4A;
    stroke-width: 3;
    stroke-dasharray: 20 80;
    stroke-dashoffset: 80;
    animation: hide 2s linear 1.6s infinite;
    -webkit-animation: hide 2s linear 1.6s infinite;
}
*/

/*
@-webkit-keyframes hide {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
*/
